In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [44]:
data = pd.read_csv(os.path.join('outputs', 'base_covid_confirmado.csv'), encoding='ISO-8859-1', sep=';', header=0)

/home/thati/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (15,22,24,30,31,32,33,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
data.head()

,_idade,_faixa etária,_sexo,_bairro,_classificacao,_comorb_renal,_comorb_diabetes,_comorb_imuno,_comorb_cardio,_conclusao,...,_distrito,_bairro_mapa,_comorb_respiratoria,_comorb_cromossomica,_comorb_hepatica,_comorb_neurologica,_comorb_hemato,_comorb_obessidade,_origem,_evolução
0,37.0,30a - 39a,F,CONJ. CIDADAO 10,Confirmado,Não,Não,Não,Não,NaN,...,OESTE,TARUMÃ,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
1,51.0,50a - 59a,F,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
2,74.0,70a - 79a,M,NaN,Confirmado,Não,Não,Não,Não,NaN,...,NaN,NaN,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
3,51.0,50a - 59a,F,ALEIXO,Confirmado,Não,Não,Não,Não,NaN,...,SUL,ALEIXO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN
4,53.0,50a - 59a,M,PARQUE10,Confirmado,Não,Não,Não,Não,NaN,...,SUL,PARQUE 10 DE NOVEMBRO,Não,Não,NaN,NaN,NaN,NaN,"eSUS VE,",NaN

## 2.1 Visão Geral dos Casos Confirmados

### 1. Quantos atributos descrevem cada exemplo? Quais são eles?

In [46]:
data.columns

Index(['_idade', '_faixa etária', '_sexo', '_bairro', '_classificacao',
       '_comorb_renal', '_comorb_diabetes', '_comorb_imuno', '_comorb_cardio',
       '_conclusao', '_dt_notificacao', '_taxa', '_dt_evolucao', '_raca',
       '_dt_sintomas', '_criterio', '_tipo_teste', '_sintoma_garganta',
       '_sintoma_dispneia', '_sintoma_febre', '_sintoma_tosse',
       '_sintoma_outros', '_etnia', '_profiss_saude', '_srag',
       '_se_notificacao', '_distrito', '_bairro_mapa', '_comorb_respiratoria',
       '_comorb_cromossomica', '_comorb_hepatica', '_comorb_neurologica',
       '_comorb_hemato', '_comorb_obessidade', '_origem', '_evolução'],
      dtype='object')

### 2. Quantos casos confirmados há em Manaus, cumulativamente?

In [47]:
data['_classificacao'].shape[0]

36947

### 3. A qual período de tempo a base de dados se refere, isto é, qual o registro mais antigo e qual o mais recente? Leve em conta a data de notificação.

In [48]:
x = pd.to_datetime(data['_dt_notificacao'], format='%d/%m/%Y')

In [49]:
data.loc[x.idxmin()]

_idade                                       44
_faixa etária                         40a - 49a
_sexo                                         F
_bairro                             SAO GERALDO
_classificacao                       Confirmado
_comorb_renal                               Sim
_comorb_diabetes                            Sim
_comorb_imuno                               Não
_comorb_cardio                              Sim
_conclusao                           Recuperado
_dt_notificacao                      30/01/2020
_taxa                               1,230314961
_dt_evolucao                         01/04/2020
_raca                                     Parda
_dt_sintomas                         29/01/2020
_criterio                          Laboratorial
_tipo_teste             TESTE RÁPIDO - ANTÍGENO
_sintoma_garganta                           Não
_sintoma_dispneia                           Sim
_sintoma_febre                              Sim
_sintoma_tosse                              Sim
_sintoma_outros                             Sim
_etnia                                      NaN
_profiss_saude                              Não
_srag                     SRAG não especificado
_se_notificacao                               5
_distrito                                   SUL
_bairro_mapa                        SÃO GERALDO
_comorb_respiratoria                        Não
_comorb_cromossomica                        Não
_comorb_hepatica                            Não
_comorb_neurologica                         Não
_comorb_hemato                              Não
_comorb_obessidade                          Não
_origem                        SIVEP, eSUS VE,
_evolução                             Internado
Name: 36196, dtype: object

In [50]:
data.loc[x.idxmax()]

_idade                                        49
_faixa etária                          40a - 49a
_sexo                                          F
_bairro                                  BETANIA
_classificacao                        Confirmado
_comorb_renal                                Não
_comorb_diabetes                             Não
_comorb_imuno                                Não
_comorb_cardio                               Não
_conclusao                                   NaN
_dt_notificacao                       06/08/2020
_taxa                                0,801603206
_dt_evolucao                                 NaN
_raca                                      Parda
_dt_sintomas                          03/07/2020
_criterio                                    NaN
_tipo_teste             TESTE RÁPIDO - ANTICORPO
_sintoma_garganta                            Sim
_sintoma_dispneia                            Não
_sintoma_febre                               Sim
_sintoma_tosse                               Não
_sintoma_outros                              Sim
_etnia                                       NaN
_profiss_saude                               Não
_srag                                        NaN
_se_notificacao                               32
_distrito                                    SUL
_bairro_mapa                             BETÂNIA
_comorb_respiratoria                         Não
_comorb_cromossomica                         Não
_comorb_hepatica                             NaN
_comorb_neurologica                          NaN
_comorb_hemato                               NaN
_comorb_obessidade                           NaN
_origem                                eSUS VE,
_evolução                                    NaN
Name: 20430, dtype: object

## 2.2 Visualização de Dados

In [51]:
data = pd.read_csv(os.path.join('outputs', 'base_covid_tratada.csv'), encoding='ISO-8859-1', sep=';', header=0)

In [52]:
data.head()

,_idade,_faixa etária,_sexo,_bairro,_classificacao,_conclusao,_dt_notificacao,_tipo_teste,_distrito,_bairro_mapa
0,25.0,20a - 29a,F,ADRIANOPOLIS,Confirmado,Recuperado,20/03/2020,RT-PCR,SUL,ADRIANÓPOLIS
1,41.0,40a - 49a,F,BETANIA,Confirmado,Recuperado,27/03/2020,RT-PCR,SUL,BETÂNIA
2,40.0,40a - 49a,F,DOM PEDRO,Confirmado,Recuperado,20/04/2020,TESTE RÁPIDO - ANTICORPO,OESTE,DOM PEDRO
3,50.0,50a - 59a,M,FLORES,Confirmado,Recuperado,24/04/2020,RT-PCR,SUL,FLORES
4,30.0,30a - 39a,M,PRESIDENTE VARGAS,Confirmado,Recuperado,23/04/2020,TESTE RÁPIDO - ANTÍGENO,SUL,PRESIDENTE VARGAS

### 1. Quantos exemplos e atributos há na base de dados após a limpeza e organização?

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6214 entries, 0 to 6213
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _idade           6214 non-null   float64
 1   _faixa etária    6214 non-null   object
 2   _sexo            6214 non-null   object
 3   _bairro          6214 non-null   object
 4   _classificacao   6214 non-null   object
 5   _conclusao       6214 non-null   object
 6   _dt_notificacao  6214 non-null   object
 7   _tipo_teste      6214 non-null   object
 8   _distrito        6214 non-null   object
 9   _bairro_mapa     6214 non-null   object
dtypes: float64(1), object(9)
memory usage: 485.6+ KB

### 2. Qual a porcentagem de indivíduos recuperados em relação ao todo?

In [54]:
data['_conclusao'].unique()

array(['Recuperado', 'Óbito'], dtype=object)

In [55]:
v = data.loc[data['_conclusao'] == 'Recuperado'].shape[0]
print("A porcentagem de individuos recuperados é ", (v/data.shape[0]) * 100, "%", sep="")

A porcentagem de individuos recuperados é 99.7907949790795%

In [56]:
m = data.loc[data['_conclusao'] == 'Óbito'].shape[0]
print("A porcentagem de individuos que vieram a óbito é ", (m/data.shape[0]) * 100, "%", sep="")

A porcentagem de individuos que vieram a óbito é 0.20920502092050208%

### 3. Os casos acometeram mais indivíduos do sexo masculino ou feminino?

In [57]:
print("Total de Casos Confirmados para o sexo Masculino:", data.loc[data['_sexo']=='M'].shape[0])

Total de Casos Confirmados para o sexo Masculino: 2707

In [58]:
print("Total de Casos Confirmados para o sexo Feminino:", data.loc[data['_sexo']=='F'].shape[0])

Total de Casos Confirmados para o sexo Feminino: 3507

### 4. Qual a média e desvio padrão de idade dos indivíduos que contraíram COVID-19? Qual o indivíduo mais jovem e o mais idoso a contraírem tal enfermidade?

In [59]:
data['_idade'].describe()

count    6214.000000
mean       41.469907
std        14.164833
min         0.000000
25%        33.000000
50%        41.000000
75%        50.000000
max        99.000000
Name: _idade, dtype: float64

### 5. Qual o bairro com maior incidência de casos?

In [60]:
casos = data.groupby('_bairro_mapa')['_bairro_mapa'].describe().reset_index().sort_values(by='count', ascending=False)
casos[['_bairro_mapa', 'count']]

             _bairro_mapa count
11            CIDADE NOVA   446
24                 FLORES   295
58      SÃO JOSÉ OPERÁRIO   259
2                ALVORADA   253
40  PARQUE 10 DE NOVEMBRO   246
..                    ...   ...
49              RIO NEGRO    14
26                 GLÓRIA    10
6                  BR-174     4
3                  AM-010     2
50       RIO TARUMÃ-MIRIM     1

[67 rows x 2 columns]

### 6. Quais os três bairros com maior incidência de casos recuperados?

In [61]:
casos = data.loc[data['_conclusao'] == 'Recuperado'].groupby(['_bairro_mapa'])['_bairro_mapa'].describe().reset_index().sort_values(by='count', ascending=False)
casos[['_bairro_mapa', 'count']]

             _bairro_mapa count
11            CIDADE NOVA   446
24                 FLORES   295
58      SÃO JOSÉ OPERÁRIO   259
2                ALVORADA   253
40  PARQUE 10 DE NOVEMBRO   246
..                    ...   ...
49              RIO NEGRO    14
26                 GLÓRIA    10
6                  BR-174     4
3                  AM-010     2
50       RIO TARUMÃ-MIRIM     1

[67 rows x 2 columns]

### 7. Quais os tipos de testes efetuados, segundo os dados? Indique os dados de maneira quantitativa e percentual.

In [62]:
testes = data.groupby(['_tipo_teste'])['_tipo_teste'].describe().reset_index()
testes['_porcentagem'] = (testes['count'] / data.shape[0]) * 100
testes[['_tipo_teste', 'count', '_porcentagem']]

                _tipo_teste count _porcentagem
0                 ECLIA IgG     4    0.0643708
1                 ELISA IgM     6    0.0965562
2                    RT-PCR  1501      24.1551
3  TESTE RÁPIDO - ANTICORPO  3602      57.9659
4   TESTE RÁPIDO - ANTÍGENO  1101      17.7181

### 8. Qual taxa de letalidade pode ser calculada a partir do conjunto de dados? Para calcular esta taxa, considere a fração do total de óbitos pelo total de casos;

In [63]:
obitos = data.loc[data['_conclusao'] == 'Óbito'].shape[0] / data.shape[0]
print('A taxa de letalidade é de ', obitos * 100, '%', sep='')

A taxa de letalidade é de 0.20920502092050208%

### 9. Qual o tipo de correlação, mediante coeficiente de correlação de Pearson, entre a idade e o número de casos? Para responder a esta pergunte, agrupe o número de casos por idade e efetue o cálculo de tal coeficiente. Indique, a partir do resultado, a natureza desta correlação, se é positiva ou negativa, e qual sua intensidade.

In [64]:
corr = data.groupby('_idade')['_idade'].describe().reset_index()
corr[['_idade', 'count']].corr()

         _idade    count
_idade  1.00000 -0.22462
count  -0.22462  1.00000